/.DS_Store
/.localized
/Screenshot 2026-04-14 at 7.43.41 AM.png
/Screenshot 2026-04-14 at 7.47.06 AM.png
/Screenshot 2026-04-21 at 9.44.00 AM.png
/Screenshot 2026-05-04 at 10.18.44 PM.png
/Screenshot 2026-05-04 at 10.18.54 PM.png
/burn_video5.py
/clean_audio.wav
/denoise_and_transcribe.py
/medowVideo1.ass
/medowVideo1.mp4
/medowVideo1_subtitled.mp4
/medowVideo2.MP4
/medowVideo2.srt
/medowVideo2_subtitled.mp4
/medowVideo3.MP4
/medowVideo3.srt
/medowVideo3_subtitled.mp4
/medowVideo4.mp4
/medowVideo4_subtitled.mp4
/medowVideo5.srt
/raw_audio.wav